Sociocon/Sociocon/Sociocon.Droid/obj/
Sociocon/Sociocon/Sociocon/bin/
Sociocon/Sociocon/Sociocon/obj/
Sociocon/Sociocon/Sociocon.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sociocon/Sociocon/Sociocon.Windows/obj/
Sociocon/Sociocon/Sociocon.WinPhone/obj/
Sociocon/Sociocon/Sociocon.iOS/obj/
